@layer tailwind-base, semi, tailwind-components, tailwind-utils;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-components {
  @tailwind components;
}

@layer tailwind-utils {
  @tailwind utilities;
}

body {
  margin: 0;
  padding-top: 0;
  font-family:
    Lato, 'Helvetica Neue', Arial, Helvetica, 'Microsoft YaHei', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
  color: var(--semi-color-text-0) !important;
  background-color: var(--semi-color-bg-0) !important;
  height: 100vh;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#root>section>header>section>div>div>div>div.semi-navigation-header-list-outer>div.semi-navigation-list-wrapper>ul>div>a>li>span {
  font-weight: 600 !important;
}

@media only screen and (max-width: 767px) {

  #root>section>header>section>div>div>div>div.semi-navigation-footer>div>a>li {
    padding: 0 0;
  }

  #root>section>header>section>div>div>div>div.semi-navigation-header-list-outer>div.semi-navigation-list-wrapper>ul>div>a>li {
    padding: 0 5px;
  }

  #root>section>header>section>div>div>div>div.semi-navigation-footer>div:nth-child(1)>a>li {
    padding: 0 5px;
  }

  .semi-navigation-horizontal .semi-navigation-header {
    margin-right: 0;
  }

  /* 确保移动端内容可滚动 */
  .semi-layout-content {
    -webkit-overflow-scrolling: touch !important;
    overscroll-behavior-y: auto !important;
  }

  /* 修复移动端下拉刷新 */
  body {
    overflow: visible !important;
    overscroll-behavior-y: auto !important;
    position: static !important;
    height: 100% !important;
  }

  /* 确保内容区域在移动端可以正常滚动 */
  #root {
    overflow: visible !important;
    height: 100% !important;
  }

  /* 隐藏在移动设备上 */
  .hide-on-mobile {
    display: none !important;
  }
}

.tableShow {
  display: revert;
}

.semi-chat {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 100%;
}

.semi-chat-chatBox-content {
  min-width: auto;
  word-break: break-word;
}

.tableHiddle {
  display: none !important;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.custom-footer {
  font-size: 1.1em;
}

.semi-layout-content::-webkit-scrollbar,
.semi-sider::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.semi-layout-content::-webkit-scrollbar-thumb,
.semi-sider::-webkit-scrollbar-thumb {
  background: var(--semi-color-tertiary-light-default);
  border-radius: 3px;
}

.semi-layout-content::-webkit-scrollbar-thumb:hover,
.semi-sider::-webkit-scrollbar-thumb:hover {
  background: var(--semi-color-tertiary);
}

.semi-layout-content::-webkit-scrollbar-track,
.semi-sider::-webkit-scrollbar-track {
  background: transparent;
}

.semi-navigation-item,
.semi-tag-closable,
.semi-datepicker-range-input {
  border-radius: 9999px;
}

.semi-tabs-content {
  padding: 0 !important;
}